---
import { date } from "astro:schema";

// frontmatter, hier mag je js typen

const url = "https://openlibrary.org/search.json?q=books";
const response = await fetch(url);
const data = await response.json();
const books = data.docs;

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Books</title>
	</head>
	<body>
	

		<h1>Books</h1>
		<div
			style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px;"
		>
			{
				books.slice(0, 10).map((book: any) => {
					return (
						<a href={`/book${book.key}`}>
							<div style="border: 1px solid #ccc; padding: 10px; margin: 10px;">
								{book.cover_i && (
									<img
										src={`https://covers.openlibrary.org/b/id/${book.cover_i}-M.jpg`}
										alt={book.title}
										style="width: 100%; height:auto"
									/>
								)}
								<h2>{book.title}</h2>
								<p>{book.author_name?.[0]}</p>
							</div>
						</a>
					);
				})
			}
		</div>
	</body>
</html>
